{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="content-list">
  {{ range .Pages.ByDate.Reverse }}
    {{ if not .Draft }}
    <article class="preview">
      <a href="{{ .RelPermalink }}">
        {{ if .Params.cover }}
          <img src="{{ .Params.cover | relURL }}" loading="lazy" alt="">
        {{ end }}
        <h2>{{ .Title }}</h2>
        {{ if .Params.summary }}<p>{{ .Params.summary }}</p>{{ end }}
        <time>{{ .Date.Format "02 Jan 2006" }}</time>
      </a>
    </article>
    {{ end }}
  {{ end }}
</div>
{{ end }}
